/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

:root{
    --primary-color: #881616;
    --bg-color-dark-alpha: rgba(0,0,0,0.76);
    --bg-color-dark: #1b1b1b;
    --color-black: #000;
    --color-white: #fff;
}

html{
    scroll-behavior: smooth;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-size: 1.6rem;
}

body{
    background: var(--bg-color-dark);
    text-align: center;
    height: 100vh;
    overflow: hidden;/*for loading*/
}

.section_title{
    display: inline-block;
    margin: 100px auto 50px;
    padding: 0;
    font-size: 120px;
    color: #fff;
    border-bottom: 6px solid var(--primary-color);
    line-height: 120px;
    font-family: ro-nikkatsu-sei-kai-std, serif;
}

h2 img{
    width: initial;
    max-width: calc(100vw - 40px);
    margin: auto;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);
}

.dark_bg{
    position: relative;
    background: var(--bg-color-dark-alpha);
}

.dark_bg::before{
    content: " ";
    display: block;
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(0deg, var(--bg-color-dark-alpha), rgba(0,0,0,1));
    z-index: 1;
}

.dark_bg::after{
    content: " ";
    display: block;
    position: absolute;
    bottom: -90px;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(0deg, rgba(0,0,0,1), var(--bg-color-dark-alpha));
    z-index: 1;
}

::selection {
    background: #861616aa;
    color: #fff;
}

/*Firefox*/
::-moz-selection {
    background: #861616aa;
    color: #fff;
}

/*ローディング*/
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    z-index: 100;
}

.loading .loading_img{
    width: 100px;
    height: 100px;
    animation: bombermove 1s ease-in-out infinite;
}

@keyframes bombermove{
    0%{opacity: 0.5;}
    50%{opacity: 1;}
    100%{opacity: 0.5;}
}

/*black_out*/
.black_out{
    content: " ";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-black);
    z-index: 100;
}

/*ヘッダー*/
header{
    display: block;
    position: fixed;
    top: -100px;
    width: 100%;
    height: 100px;
    background: var(--color-black);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
    color: #fff;
    z-index: 99;
}

header .logo{
    display: block;
    width: 150px;
    height: 60px;
    margin: 0 auto;
    padding: 20px 0;
}
header .logo img{
    height: 60px;
}

/*トップコンテナ*/
.top_box{
    width: 100%;
    height: calc(100vh + 120px);
    background-image: url(../img/top.jpg);
    background-size: cover;
    z-index: -1;
}
.top_box::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.76);
    z-index: 0;
}
.top_box::after{
    content: " ";
    display: block;
    position: absolute;
    bottom: -120px;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(0deg, rgba(0,0,0,1), var(--bg-color-dark-alpha));
    z-index: 1;
}

.top_header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    color: #fff;
    z-index: 3;
}
.top_header .left{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    padding: 0 20px;
    float: left;
}

.top_header .left img{
    height: calc(100% - 28px);
}

.top_header .right{
    float: right;
    line-height: 80px;
    font-size: 14px;
    padding: 0 20px;
}

.top_content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.top_content img{
    max-width: 960px;
    width: calc(100% - 40px);
    z-index: 1;
}

.top_content p{
    font-family: ro-nikkatsu-sei-kai-std, serif;
    font-size: 100px;
    color: #fff;
    z-index: 1;
}

.center{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    background: #fff;
    color: var(--color-black);
    z-index: 99;
}

/*scrolldown*/
.scrolldown{
    position: absolute;
    bottom: 3%;
    left:50%;
}
.scrolldown span{
    position: absolute;
    left: -24px;
    bottom: 20px;
    color: #fff;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
}

.scrolldown::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -6px;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    animation: arrowmove 1.2s linear infinite;
}

@keyframes arrowmove{
    0%{bottom: 6px;opacity: 0;}
    25%{bottom: 3px;opacity: 1;}
    50%{bottom: 0px;opacity: 1;}
    75%{bottom: -3px;opacity: 1;}
    100%{bottom:-6px;opacity: 0;}
}

/*あらすじ*/
.story{
    display: block;
    width: calc(100% - 40px);
    max-width: 680px;
    margin: 0 auto 200px;
    font-family: ro-nikkatsu-sei-kai-std, serif;
}

.story h2{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.story .big_text{
    display: block;
    position: relative;
    text-align: center;
    margin: 150px auto;
    line-height: 50px;
    font-size: 24px;
    color: #fff;
}

.story p{
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 60px auto;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
}

/*準備編*/
.wrap_boxs{
    padding: 90px 0;
    width: 100%;
    height: auto;
    background-image: url(../img/wall01-768x576.png);
    z-index: -1;
    overflow: hidden;
}

.wrap_boxs h2{
    margin: 0 auto;
}
.wrap_boxs h2 img{
    margin: 60px auto;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);
}

.boxs_dark{
    padding-bottom: 30px;
}

.box_paper{
    position: relative;
    width: calc(100% - 60px);
    max-width: 400px;
    margin: 0 auto 45px;
    padding: 30px 20px;
    background-image: url(../img/Paper.jpg);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);
}

.box_left{
    right: 10px;
}

.box_right{
    left: 10px;
}

.box_header{
    width: 100%;
    height: 80px;
    font-family: ro-nikkatsu-sei-kai-std, serif;
}

.header_number{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    font-size: 54px;
    text-align: center;
}

.header_title{
    display: flex;
    align-items: center;
    float: left;
    text-align: left;
    width: calc(100% - 102px);
    height: 80px;
    margin-left: 20px;
    font-size: 28px;
}

.box_body{
    position: relative;
    width: calc(100% - 20px);
    margin: 30px auto 0;
    text-align: left;
    font-size: 18px;
    font-family: tbcgothic-std, sans-serif;
}
/*ゲームスタート*/
.game_start{
    font-family: ro-nikkatsu-sei-kai-std, serif;
    margin-bottom: 200px;
}

.game_start h2{
    margin-top: 100px;
}

.game_start .big_text{
    display: block;
    position: relative;
    text-align: center;
    margin: 50px auto;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
}

.game_start p{
    display: block;
    position: relative;
    text-align: center;
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 60px auto 20px;
    line-height: 46px;
    font-size: 20px;
    color: #fff;
}
.game_start #input_username{
    display: block;
    position: relative;
    width: calc(100% - 40px);
    max-width: 500px;
    height: 40px;
    margin: 0 auto;
    background: var(--color-black);
    border: 1px solid #444;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-family: ro-nikkatsu-sei-kai-std, serif;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.8);
}

.game_start #input_username:focus {
    outline: none;
    border-color: var(--primary-color);
}

.game_start #button_start{
    display: block;
    width: calc(100% - 40px);
    max-width: 200px;
    height: 60px;
    margin: 40px auto;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    font-family: ro-nikkatsu-sei-kai-std, serif;
    transition: background-color 0.1s, color 0.1s;
}

.game_start #button_start:hover{
    background-color: #fff;
    color: var(--primary-color);
}

/*フッター*/
footer{
    display: block;
    padding: 40px 0;
    width: 100%;
    background: var(--color-black);
    text-align: center;
}
footer p{
    margin: 30px 0;
    font-size: 12px;
    color: #fff;
}

@media screen and (max-width:768px){
    .box_left{
        right: initial;
    }
    
    .box_right{
        left: initial;
    }
}

@media screen and (max-width:480px){
    .top_header{
        height: 60px;
    }
    .top_header .left{
        height:60px;
        padding: 0 10px;
    }
    
    .top_header .left img{
        height: calc(100% - 20px);
    }
    
    .top_header .right{
        line-height: 60px;
        padding: 0 10px;
    }

    .box_paper{
        width: calc(100% - 80px);
    }

    .box_header{
        height: 60px;
    }

    .header_number{
        font-size: 40px;
        width: 60px;
        height: 60px;
    }
    .header_title{
        font-size: 24px;
        width: calc(100% - 82px);
        height: 60px;
    }
    .box_body{
        font-size: 16px;
    }
}