html,body{
    margin: 0;
    padding: 0;
    background: #F5F5F6;
}

/*white_in*/
.black_in{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
}

/*通知一覧*/
#fixed_menu{
    position: fixed;
    width: 100%;
    max-width: 1200px;
    top: 0;
    inset: 0;
    margin: auto;
    z-index: 100;
    pointer-events: none;
}

#notice_body{
    display: none;
    position: absolute;
    top: 74px;
    right: 20px;
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    pointer-events: initial;
}

#fixed_menu .active{
    display: block;
}

#notice_head{
    background: #fff;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#notice_body a{
    color: #000;
    text-decoration: none;
}

#notice_box{
    width: calc(100% - 20px);
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.1s;
}

#notice_box:hover{
    background-color: #f5f5f6;
}

#notice_box h3{
    margin: 4px 0;
    font-size: 16px;
}

#notice_box p{
    margin: 0;
    font-size: 12px;
    color: #444;
}

.sp_close_button{
    display: none;
}

@media screen and (max-width:480px) {

    #notice_body{
        display: block;
        right: initial;
        top: 0;
        left: 100vw;
        width: 100%;
        height: 100vh;
        border-radius: 0;
        box-shadow: none;
        background: #f5f5f6;
        transition: left 0.2s;
        z-index: 999;
    }

    #fixed_menu .active{
        left: 0vw;
        transition: left 0.2s;
    }

    #notice_head{
        position: relative;
        background: #fff;
        height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
    }

    .sp_close_button{
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        left: 0;
    }

    #notice_box{
        width: calc(100% - 40px);
        margin: auto;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
}

#story_guide{
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100vh - 64px);
    top: 64px;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: initial;
}

.mes_box{
    position: absolute;
    max-width: calc(100vw - 40px);
    top: 4px;
    right: 10px;
    padding: 10px;
    background: #3a59bd;
    color: #fff;
    z-index: 100;
}

.mes_box::before{
    position: absolute;
    top: -17px;
    right: 62px;
    content: " ";
    border-right: 10px solid transparent;
    border-bottom: 17.3205px solid #3a59bd;
    border-left: 10px solid transparent; 
}

/*ヘッダー*/

header{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    border-top: 4px solid #1e137c;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    z-index: 99;
}

#header_content{
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
}

#header_logo{
    position: absolute;
    top: 0;
    left: 20px;
    height: 60px;
}

#header_logo img{
    height: 60px;
}

header #user_info{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    padding: 0 10px;
    height: 60px;
}

header #notice{
    position: relative;
    font-size: 24px;
    margin-right: 20px;
    color: #1b1b1b;
    cursor: pointer;
}

header #notice span{
    position: absolute;
    top: 4px;
    right: -6px;
    width: 12px;
    height: 12px;
    background: #f00;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 6px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
}

header #user_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

header #user_icon img{
    height: 100%;
}

h2{
    margin-top: 30px;
    font-size: 20px;
}

a{
    color: #0000ee;
}

/*メイン*/

main{
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
    background: #fff;
    overflow: hidden;
}

#wrap_main{
    width: calc(100% - 441px);
    margin: 20px 0 0;
    padding: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#main_head{
    width: calc(100% - 20px);
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#url_tree{
    font-size: 14px;
    color: #666;
}

#main_head h1{
    margin-bottom: 8px;
    line-height: 36px;
}

#head_footer{
    position: relative;
    width: 100%;
    height: 24px;
}

#head_info{
    position: absolute;
    left: 0;
    font-size: 14px;
    color: #666;
}

#head_info #info_comment{
    margin-left: 8px;
}

#head_info #info_comment i{
    margin-right: 4px;
}

#head_share{
    position: absolute;
    right: 0;
    cursor: default;
}

#head_share i{
    margin-left: 4px;
    background-color: #1e137c;
    color: #fff;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

#head_share i:hover{
    background-color: #fff;
    color: #1e137c;
}

#main_body{
    padding: 0 20px;
}

#main_body p{
    width: 100%;
    margin: 20px auto;
}

#main_body #body_footer{
    text-align: right;
}

#link-list{
    list-style: none;
    padding: 0;
    font-size: 16px;
}

#link-list a{
    text-decoration: none;
}
#link-list a li{
    line-height: 20px;
    margin-bottom: 6px;
}

.underline{
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#box-list{
    margin: 0 0 30px;
    list-style: none;
    padding: 0;
}

#box-list a{
    text-decoration: none;
}

#box-list li{
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#link-list a:hover,#box-list a:hover{
    text-decoration: underline;
}

#main_ad{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}

.news_boxs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
}

.news_box{
    width: calc(100% / 3 - 10px);
    margin-bottom: 20px;
}

.news_box_img{
    position: relative;
    width: 100%;
    background: #f5f5f6;
}
.news_box_img::before{
    content:"";
    display: block;
    padding-top: 56.25%; /* 高さを幅の75%に固定 */
}

.news_box_img_inner{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.news_box_content{
    position: relative;
    min-height: 60px;
}

.news_box_text_dummy{
    position: absolute;
    top: 10px;
    width: 100%;
    height: 22px;
    background: #f5f5f6;
}

.news_box_text_dummy::before{
    content: " ";
    position: absolute;
    top: 28px;
    width: 70%;
    height: 22px;
    background: #f5f5f6;
}

/*サイドバー*/

#wrap_side{
    width: 360px;
    padding: 20px;
}

#side_ad{
    margin: 0 auto;
    text-align: center;
}

.large_ad{
    width: calc(100% - 40px);
}

.ad_border{
    border: 1px solid #dddddd;
    width: calc(100% - 2px);
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 0;
    text-align: center;
    background: #35355a;
    color: #fff;
}

.sp_480{
    display: none;
}

@media screen and (max-width:1024px) {
    main{
        flex-direction: column;
    }
    #wrap_main{
        width: calc(100% - 40px);
    }
    #wrap_side{
        width: calc(100% - 40px);
        padding: 20px;
    }
    .pc_1024{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .news_box{
        width: calc(100% / 2 - 10px);
    }
}
@media screen and (max-width:480px){
    #story_guide{
        top: 60px;
        height: calc(100vh -60px);
    }
    header{
        border: none;
    }
    #header_logo{
        padding: 10px 0;
    }
    #header_logo img{
        height: calc(100% - 20px);
    }
    #wrap_main{
        margin-top: 0;
    }
    #main_head h1{
        font-size: 30px;
    }
    #main_head{
        width: 100%;
    }
    #main_body{
        padding: 0;
    }
    .news_boxs{
        width: 100%;
        flex-direction: column;
    }
    .news_box{
        max-width: initial;
        width: 100%;
        margin: 0 auto 20px;
    }
    .pc_480{
        display: none;
    }
    .sp_480{
        display: block;
    }
}